* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 55%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-header {
  padding: 10px 0;
  text-align: center;
}
@font-face {
  font-family: "DancingScript";
  src: url("/font/static/DancingScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("/font/static/OpenSans-Regular.ttf") format("truetype");
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-area {
  background-image: url(/img/banner-area__img.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.main-navigation__logo {
  font-family: "DancingScript";
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.25;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  margin-right: auto;
}
.main-navigation__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}
.main-navigation__items li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "OpenSans";
  line-height: 24px;
  color: rgb(235, 255, 255);
  text-transform: uppercase;
}
.main-navigation__items li a:hover {
  color: #ffbe33;
}
.main-navigation__items li a.active {
  color: #ffbe33;
}
.main-navigation__icon i {
  font-size: 12px;
  color: rgb(255, 255, 255);
}
.main-navigation__icon {
  display: inline-block;
  margin: 0 10px;
  align-items: center;
  cursor: pointer;
}

.main-navigation__right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 70px;
}

.button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #ffbe33;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-family: "OpenSans";
  cursor: pointer;
  text-transform: capitalize;
}

.button:hover {
  background-color: #e69c00;
}
/*Home Section*/
.home-section__title {
  font-family: "DancingScript", cursive;
  font-size: 48px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.home-section__description {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  line-height: 24px;
}
.home-section__left {
  padding: 200px 0;
  width: 58%;
}

/*Action Cards*/
.action-cards {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  justify-content: space-between;
}
.action-card {
  background-color: #222831;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
  width: 50%;
}
.action-card__title {
  display: flex;
  justify-content: start;
  font-family: "DancingScript", cursive;
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.action-card__img img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: transform 0.5s ease;
}
.action-card__img {
  display: inline-block;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 50%;
  border: 4px solid #ffbe33;
}
.action-card__percent {
  display: flex;
  justify-content: start;
  font-family: "DancingScript", cursive;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
.percent {
  font-family: "DancingScript", cursive;
  font-size: 40px;
  color: rgb(255, 255, 255);
  display: inline;
}
.percent-button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #ffbe33;
  color: white;
  display: flex;
  justify-content: start;
  font-size: 16px;
  font-family: "OpenSans";
  cursor: pointer;
  text-transform: capitalize;
  width: 40%;
}
.percent-button:hover {
  background-color: #e69c00;
}
.action-card:hover .action-card__img img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.menu-subtitle {
  margin-top: 70px;
  font-family: "DancingScript", cursive;
  font-size: 36px;
  color: #222831;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.menu-navigation__item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "OpenSans";
  line-height: 24px;
  color: #222831;
  text-transform: capitalize;
  border-radius: 20px;
  width: 80px;

  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-navigation__items {
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}
.menu-navigation__items .active {
  background-color: #222831;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  width: 80px;
}
.menu-navigation__item:hover {
  background-color: #222831;
  color: rgb(255, 255, 255);
}
.menu-cards {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-card {
  background-color: #222831;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  text-align: center;
}
.menu-card__img {
  overflow: hidden;
  border-radius: 20px 20px 0px 50px;
  margin-bottom: 15px;
  background-color: #f1f2f3;
  height: 230px;
  vertical-align: middle;
}
.menu-card__img img {
  width: 100%;
  transition: transform 0.5s ease;
  padding: 30px 70px;
}
.menu-card:hover .menu-card__img img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}
.menu-card__title {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  padding-left: 20px;
}
.menu-card__description {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: rgb(200, 200, 200);
  margin-bottom: 15px;
  line-height: 24px;
  display: flex;
  justify-content: start;
  padding-left: 20px;
  text-align: left;
  padding-right: 20px;
}
.menu-card__cost {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  padding-left: 20px;
}
.menu-card__button {
  background-color: #ffbe33;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px 20px 20px auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  float: right;
}
.menu-view-more {
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: center;
  width: 200px;
}
.about-banner__area {
  background-color: #222831;
  height: 700px;
  padding-top: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.about-img img {
  width: 40%;
  float: left;
  margin-right: 30px;
}
.about-right {
  width: 55%;
  float: left;
  text-align: left;
  padding: 120px 20px;
}
.about-section__subtitle {
  font-family: "DancingScript", cursive;
  font-size: 36px;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.about-section__description {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: rgb(200, 200, 200);
  margin-bottom: 40px;
  line-height: 24px;
}
.about-learn__more {
  clear: both;
}
